@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", serif;
}

*{
    padding: 0;
    box-sizing: border-box;
}

/* start header css */
header{
width: 100%;
height: auto;
background: url(images/306590214_506735194789095_7001857512172754038_n.png) center/cover no-repeat;
overflow: hidden;
margin-top: 0px;
}

header nav{
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}



header nav .logo img{
    max-width: 60%;
}


header nav .menu{
padding-left: 250px;
}



header nav .menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    font-size: 20px;
    text-transform: capitalize;
}

header nav .menu ul li:not(:last-child) a{

    color: #fff;
    text-decoration: none;


}

header nav .menu ul li:last-child a{

    color:#000000;
    text-decoration: none;

}

header nav .menu ul li:last-child{
    background-color: #88ff00;
    color: #000000;
    padding: 10px;
    border-radius: 8px;
}

header nav .menu ul li:not(:last-child):hover a {
    color: RGB(134, 255, 0);
}

header .wrap-header{
    width: 100%;
    height: auto;
    padding: 20px 0px;
    margin: 50px 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

header .wrap-header .text{
width: 50%;
text-align: left;
padding-left: 100px;

}

header .wrap-header .text h1{
    color: #fff;
    font-size: 72px;
    font-weight: 700;
    line-height: 90px;
}

header .wrap-header .text p{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 17px;
    margin-top: -20px;

}

header .wrap-header .text button{
    background-color:#86FF00;
    height: 40px;
    width: 150px;
    border: 1px solid #86FF00;
    border-radius: 8px;
    text-align: center;

}
header .wrap-header .text button a{
    color: #000000;
    text-decoration: none;
}
header .wrap-header .img{
    width: 50%;
    text-align: center;
}

header .wrap-header .img img{
    animation: move 5s ease-in-out infinite;
}

@keyframes move {
    0%{
        transform: translateY(10px);
    }
    25%{
      transform: translate(30px , 40px) scale(1);
     }

     60%{
        transform: translateX(10PX) scale(.9) rotate(5deg);
     }

     100%{
        transform: translate(10px);
     }
}
/* start features */

section{
    width: 100%;
    height: auto;
    margin-top: 70px;
    padding: 50px 0px;
    overflow: hidden;
}
section .top{
    text-align: center;
}

section .top span{
    display: block;
    margin: 10px 0px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

section .top h2{
    font-size: 48px;
    color: #1C1C1C;
    line-height: 58px;

}

section .list-icons{

    margin-top: 30px ;
    padding: 20px 0px;
    padding-left: 80px;


}

section .list-icons .box{
    width: 350px;
    height: auto;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    margin: 10px 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: inline-block;
}

.features .list-icons .box .icon{
    width: 70px;
    height: 70px;
    background-color:#d000ff;
    color: #FFFFFF;
    border: 1px solid #EB2B63;
    border-radius: 50%;
    margin: 5px auto;
}

.features .list-icons .box .icon i{
    font-size: 30px;
    line-height: 70px;
}

.features .list-icons .box:nth-child(2) .icon{
    width: 120px;
    height: 120px;
}

.features .list-icons .box:nth-child(2) .icon i{

    font-size: 35px;
    line-height: 120px;
}


.photo-cover{
    width: 100%;
    height: 500px;
    background: url(images/pexels-felixmittermeier-957040.jpg) center/cover no-repeat;
} 


.photo-cover .img-roc{
    text-align: center;
}
.photo-cover img{
width: 100px;
height: 100px;
margin: 20px 700px;

}

.photo-cover .img-roc span{
    display: block;
    margin: 10px 0px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.photo-cover .img-roc h2{
    font-size: 48px;
    color: #FFFFFF;
    line-height: 58px;

}

.photo-cover .text{
    display: flex;
    margin-top: 50px;
    margin-left: 300px;
}


.photo-cover .text input{

    width: 50%;
   
    margin-left: 100px;
    padding: 20px 0;
    text-align: center;
    border: 1px solid #FFFFFF ;
    border-radius: 20px;
    height: 59px;
    
}

.photo-cover .text button{
    margin-left: 20px;
    width: 150px;
    padding: 20px;
    text-align: center;
    border: 1px solid ;
    border-radius: 20px;
    font-size: 20px;
    background-color: #d000ff;
    color: #FFFFFF;
    height: 59px;
    min-width: 229px;
    text-align: center;
    cursor: pointer;

}

/* Start skills */
.skills{
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    margin-top: 60px;
    padding: 50px 0;
    overflow: hidden;
    display: flex;
}

.skills .left,.skills .right{
    width: 50%;
    padding-left: 100px;
}

.skills .left .item{
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    color: #000000;

}


.skills .left .item .text{

display: flex;
justify-content: space-between;
align-items: center;
margin: 10px 0;

}


.skills .left .item .text span{
    color: #1C1C1C;
    font-size: 16px;
}
.skills .left .item:first-child .text span:last-of-type{
    margin-right: 100px;
}
.skills .left .item .prog{
    width: 100%;
    height: 12px;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 20px;
    position: relative;

}

.skills .left .item .prog::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background-color: #d000ff;
    width: 80%;
    border: 1px solid #d000ff;
    height: 100%;
    border-radius: 20px;
}


.skills .left .item:nth-child(2) .prog::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background-color: #ff1818;
    width: 95%;
    border: 1px solid #d000ff;
    height: 100%;
    border-radius: 20px;
}


.skills .left .item:nth-child(2) .text span:last-of-type{
    margin-right: 20px;
}



.skills .left .item:nth-child(3) .prog::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background-color:#212529;
    width: 70%;
    border: 1px solid #d000ff;
    height: 100%;
    border-radius: 20px;
}
.skills .left .item:nth-child(3) .text span:last-of-type{
    margin-right: 170px;
}
.skills .left .item:nth-child(4) .prog::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background-color: #D22BEB;
    width: 100%;
    border: 1px solid #d000ff;
    height: 100%;
    border-radius: 20px;
}

.skills .left .item:nth-child(5) .prog::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background-color:#972BEB;
    width: 97%;
    border: 1px solid #d000ff;
    height: 100%;
    border-radius: 20px;
}

.skills .left .item:nth-child(5) .text span:last-of-type{
    margin-right: 5px;
}
/* End skills */

/* start slider */

.skills .right{
    margin: 10px 50px 0px 0px;
}

.skills .right .slider{

    background-color: #86FF00;
    border: 1px solid #86FF00;
    padding: 10px;
    border-radius: 12px;
    position: relative;
    box-shadow: -1px 1px 22px 2px rgb(241, 58, 58);

}

.skills .right .slider::after{
    position: absolute;
    content: '';
    right: 30px;
    bottom: -9px;
    background-color: #88ff00;
    border: 1px solid #86FF00;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);

}